{{- $type := .Get 0 -}}
{{- $char := "" -}}
{{- $scale := "1" -}}
{{- $top := "-0.1em" -}}

{{- if eq $type "t" }}{{ $char = "△" }}{{ $scale = "1.1" }}{{ $top = "-0.12em" }}{{ end -}}
{{- if eq $type "c" }}{{ $char = "○" }}{{ $scale = "1.2" }}{{ $top = "-0.15em" }}{{ end -}}
{{/* 針對方形：增加向上位移量以修正偏下問題 */}}
{{- if eq $type "s" }}{{ $char = "□" }}{{ $scale = "2.0" }}{{ $top = "-0.4em" }}{{ end -}}

<span style="display: inline-block; vertical-align: middle; line-height: 1; position: relative; top: {{ $top }}; transform: scale({{ $scale }}); margin: 0 0.15em;">
    {{- $char -}}
</span>